# Node
node_modules/
pnpm-lock.yaml
yarn.lock
package-lock.json

# Python
__pycache__/
*.pyc
.env
backend/.venv/

# Frontend
frontend/node_modules/

# Build outputs
dist/
build/

# OS
.DS_Store
Thumbs.db
